<footer class="site-footer">

  <div class="wrapper-foot">

    <!-- <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><h2 class="footer-heading"><i>{{ site.title }}</i>{{ site.name }}</h2></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html username=site.linkedin_username %}
          </li>
          {% endif %}

          {% if site.stackoverflow_username %}
          <li>
            {% include icon-stackoverflow.html username=site.stackoverflow_username %}
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div> -->

    <p class="about-foot meta">
    Nathaniel Brown is an aspiring software developer and current university student in Atlanta, GA.</p>
    <div class="foot-links">
    <ul class="socials">
      <li><a href="http://www.twitter.com/Mr_Innovative" target="_blank">@Mr_Innovative</a></li>
      <li><a href="http://www.github.com/ngbrown11" target="_blank">gh/ngbrown11</a></li>
    </ul>
    <ul>
      <li><a href="/feed.xml">RSS</a></li>
      <li><a href="/posts">Posts</a></li>
    </ul>
    <ul>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <ul>
      <li><a href="/about/cv">CV</a></li>
      <li><a href="/"><strong>Home</strong></a></li>
    </ul>
    </div>

  </div>

</footer>
