<header class="site-header">

  <!-- <div class="wrapper"> -->
    <div class="nav left">
        <span>
          <a href="/">home</a>
          <a href="/about">about</a>
        </span>
    </div>

    <!-- <div class="myLogo">
      <a class="site-title" href="{{ site.baseurl }}/"><span class="myLogo">{% include myLogo.svg %}</span></a>
    </div> -->

    <div class="nav right">
        <span>
          <a href="/projects">projects</a>
          <a href="/posts">posts</a>
        </span>
    </div>


</header>
