---
---

@import "{{ site.theme }}";

/*
 * Header styling
 */
.nav {
  display: inline-block;
  font-size: 1em;
  line-height: 2;
  margin-bottom: 5%;
}

.nav.left {
  float: left;
}
.nav.right {
  float: right;
}
