---
---

@import "{{ site.theme }}";

// Variables
$main-color:        #081edd; // #b5e853
// Width of the content area
$content-width:    900px;

$on-palm:          720px;
$on-laptop:        800px;
// Height of the content area
$content-height:   1200px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .page-content {
//         padding-right: $spacing / 2;
//         padding-left: $spacing / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/*
 * Header styling
 */
.nav {
  display: inline-block;
  font-size: 1em;
  line-height: 1.75;
  text-transform: uppercase;
}

.nav.left {
  float: left;
  margin-left: 8%;
}
.nav.right {
  float: right;
  margin-right: 8%;
}

.nav a {
    text-decoration: none;

    &:hover {
        border-bottom: solid 1px;
    }
}
// Header title
#super-title {
    font-size: 36px;
    color: $main-color;
}


// Image styling
.about-img {
    vertical-align: middle;
    text-align: center;
    margin-bottom: 7.5%;

    #id {
        border-radius: 5%;
    }
    img {
        display: block;
        margin: auto;
        // @include media-query($on-laptop) {
        // }
        // @include media-query($on-palm) {
        // }
    }
    figure {
        text-align: center;
    }
}

/*
 *
 * Hacker Theme Overrides
 * */
 header {
     border-bottom: 1px dashed $main-color;
 }
 header h1 {
     &:before {
         content: "~ ";
         font-size: 30px;
     }
     &::after {
         content: " ~";
         font-size: 30px;
     }
 }
 h1, h2, h3, h4, h5, h6 {
     color: $main-color;
 }
 hr {
     color: $main-color;
 }
