---
---

@import "{{ site.theme }}";

// Variables
$main-color:        #0b38ed; // #b5e853
$minor-color:       #27b2d8; // #63c0f5
// Width of the content area
$content-width:    900px;

$on-palm:          720px;
$on-laptop:        800px;
// Height of the content area
$content-height:   1200px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .page-content {
//         padding-right: $spacing / 2;
//         padding-left: $spacing / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/*
 * Header styling
 */
.nav {
  display: inline-block;
  font-size: 1em;
  line-height: 1.75;
  text-transform: uppercase;

  @include media-query($on-laptop) {
      font-size: 2em;
      line-height: 2.25;
  }
}

.nav.left {
  float: left;
  margin-left: 8%;
}
.nav.right {
  float: right;
  margin-right: 8%;
}

.nav a {
    text-decoration: none;

    &:hover {
        border-bottom: solid 1px;
    }
}
// Header title
#super-title {
    font-size: 52px;
    text-align: center;
    color: $main-color;
    -webkit-text-fill-color: #151515; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;

    @include media-query($on-laptop) {
        font-size: 60px;
    }
}
#site-description {
    text-align: center;
}

// Image styling
.about-img {
    vertical-align: middle;
    text-align: center;
    margin-bottom: 7.5%;

    #id {
        border-radius: 5%;
    }
    img {
        display: block;
        margin: auto;
        // @include media-query($on-laptop) {
        // }
        // @include media-query($on-palm) {
        // }
    }
    figure {
        text-align: center;
    }
    a {
        text-decoration: none;
    }
}

/*
 *
 * Hacker Theme Overrides
 * */
 body {
     @include media-query($on-laptop) {
         font-size: 30px;
         line-height: 2;
     }
 }
 header {
     border-bottom: 1px dashed $main-color;
     a {
         text-decoration: none;
     }
 }
 header h1 {
     &:before {
         content: "~ ";
         font-size: 40px;
     }
     &::after {
         content: " ~";
         font-size: 40px;
     }
     @include media-query($on-laptop) {
         font-size: 52px;
     }
 }
 header h2 {
     @include media-query($on-laptop) {
         font-size: 40px;
     }
 }
 h1, h2, h3, h4, h5, h6 {
     color: $minor-color;
 }
 @include media-query($on-laptop) {
 }
 #main_content h1 {
     @include media-query($on-laptop) {
         font-size: 52px;
     }
 }

 #main_content h2 {
     @include media-query($on-laptop) {
         font-size: 42px;
     }
 }

 #main_content h3 {
     @include media-query($on-laptop) {
         font-size: 36px;
     }
 }

 #main_content h4 {
     @include media-query($on-laptop) {
         font-size: 28px;
     }
 }

 #main_content h5 {
     @include media-query($on-laptop) {
         font-size: 24px;
     }
 }

 #main_content h6 {
     @include media-query($on-laptop) {
         font-size: 24px;
     }
 }
 ul li:before {
     @include media-query($on-laptop) {
         font-size: 24px;
     }
 }
 hr {
     color: $main-color;
 }
 a {
     text-decoration: none;
     color: #b5e853;
     &:hover {
         border-bottom: solid 1px;
     }
 }
 #theres-a-horizontal-rule-below-this {
     text-align: center;
 }
 .btn {
     @include media-query($on-laptop) {
         font-size: 24px;
     }
 }
