---
---

@charset "utf-8";



/**
 * Variables
 *
 */
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:   1em;
$font-weight: 400;
$small-font-size:  $font-size * 0.875;
$line-height: 1.5;

$margin:      100px;
$spacing:     30px;
$spacing-med: 20px;
$spacing-small: 5px;

$text-color:       #111;
$background-color: #fdfdfd;
$background-color-two: #dbf1ff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-med:   lighten($grey-color, 15%);
$grey-color-dark:  darken($grey-color, 25%);

//Different color variables
$background-blue:  #edf1f8;
$blue-color:       #335588;
$blue-color-light: #90aad5;
$blue-color-dark:  #1c2f4a;

/**
 * (Galaxy Alpha: 720x1280, Galaxy S7Edge: 1440x2560,
 * Ipad2: 768x1024, Laptop: 1366x768)
 */
// Width of the content area
$content-width:    900px;		//Originally 800px

$on-palm:          720px;       //Originally 600px
$on-laptop:        800px;		//Originally 800px
// Height of the content area
$content-height:   1200px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .page-content {
//         padding-right: $spacing / 2;
//         padding-left: $spacing / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}




/**
 *
 * Site layout
 *
 */
// Reset the basics
body, h1, h2, h3, h4, h5, h6, ol, ul {
    margin: 0px;
    padding: 0px;
}

/**
 * Header
 */
 header {
     font-family: Source Sans Pro, Franklin Gothic Book, Arial, sans-serif;
     letter-spacing: .15em;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 12px;
     text-align: center;
     margin-top: $margin / 2;

     @include media-query($on-laptop) {
          margin-top: $margin * 0.875;
          margin-bottom: $margin;
     }
     @include media-query($on-palm) {
          font-size: 11px;
     }
 }
 .nav {
     // Main nav characteristics
     display: inline-block;
     height: 120px;
     line-height: 90px;     // was 80px
     position: relative;
     top: -30px;
     vertical-align: middle;
 }
 .nav.left {
     margin-right: 100px;

     @include media-query($on-laptop) {
         margin-right: -30px;
         float: left;
     }
     @include media-query($on-palm) {
         max-width: 100px;
     }
 }
 .nav.right {
     margin-left: 100px;

     @include media-query($on-laptop) {
         margin-left: -30px;
         float: right;
     }
     @include media-query($on-palm) {
         max-width: 100px;
     }
 }
 .nav a {
     padding: 10px 0;
     margin: 0 8px;
     border: none;

     &:hover {
         border-bottom: 1px solid #357efc;
     }
 }
 header a {
     text-decoration: none;
     //color: #505050;
 }
 // header a:hover {
 //     //color: #357efc;
 //     border-bottom: 1px solid #357efc;
 // }

/**
 * Footer
 */
footer {
    margin-bottom: $margin / 2;
    text-transform: uppercase;
    color: $text-color;
    text-align: center;
}
.foot-links {
    color: $text-color;
    display: inline-block;
    text-align: left;

    @include media-query($on-laptop) {
        display: inline;
    }
    @include media-query($on-palm) {
        margin-top: $spacing-small * 2;
        display: block;
        text-align: center;
    }
}
.socials {

    @include media-query($on-palm) {
        display: none;
    }
}
footer ul {
    list-style: none;
    display: inline-block;
    font-size: 11px;
    padding: 5px;

    @include media-query($on-laptop) {
        font-size: 12px;
    }
    @include media-query($on-palm) {
        margin-right: $spacing-small;
    }
}
footer li {
    text-align: left;
    color: $text-color;
}
.about-foot {
    max-width: 300px;
    display: inline-block;
    text-align: right;
    padding-right: 15px;

    @include media-query($on-laptop) {
        max-width: 250;
        padding-right: $spacing-small * 2;
    }
    @include media-query($on-palm) {
        text-align: center;
    }
}
.meta {
    margin: 0 auto;
    font-size: 11px;
    font-family: 'Source Sans Pro' ;
    //color: #777;
    letter-spacing: .1em;
    font-weight: 300;
    //text-transform: uppercase;

    @include media-query($on-laptop) {
        font-size: 12px;
    }
}

/**
 * Content
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-med / 2;
}

.page-content {
	margin-left: $margin * 2;
    margin-right: $margin * 2;
    margin-bottom: $margin;
	padding: $margin;

    @include media-query($on-laptop) {
        margin-left: 0;
        margin-right: 0;
        padding: $spacing * 2;
    }
    @include media-query($on-palm) {
        margin-left: 0;
        margin-right: 0;
        padding: $spacing-med;
    }
}
.page-heading {
    font-size: 20px;
}

.about-img {
    vertical-align: middle;
    text-align: center;
    margin-bottom: auto;

    img {
        margin-top: 50px;
        margin-bottom: 50px;
        height: 288px;
        width: 288px;
        border-radius: 50%;

        @include media-query($on-laptop) {
            height: 224px;
            width: 224px;
       }
       @include media-query($on-palm) {
           height: 192px;
           width: 192px;
       }
    }
}

// Posts
.post-list {
    //margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing;

        @include media-query($on-laptop) {
            margin-bottom: $spacing-med * 2;
        }
    }
}
.post-meta {
    font-size: $small-font-size;
    color: $blue-color;
}
.post-link {
    display: block;
    font-size: 24px;
}

// Sections
.section {
	padding: $spacing-small * 3;
	border-bottom: 2px solid $grey-color-med;
	min-height: 120px;
    > p {
        font-family: "Lucida Fax", Georgia, serif;
    }

    > ul {
        font-family: "Lucida Fax", Georgia, serif;
        list-style: none;
    }
}
.contacts {
    margin-bottom: $spacing-small * 3;
}
.section-title {
    border-bottom: 1px solid $grey-color-light;

    @include media-query($on-laptop) {
        font-size: 32px;
    }
}
.section-post-links {
    font-size: 11px;
    text-transform: uppercase;
}

/**
 * Posts
 */
 .post-header {
    margin-bottom: $spacing * 2;
}

.post-title {
    font-size: 42px;
    font-family: 'Source Sans Pro';
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}
.post-content {
    margin: $spacing;      //Origin margin-bottom

    @include media-query($on-laptop) {
        margin: $spacing-med;
    }
    @include media-query($on-palm) {
        margin: $spacing-small;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
        @include media-query($on-palm) {
            font-size: 24px;
        }
    }

    h3 {
        font-size: 26px;
        color: $blue-color;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
        @include media-query($on-palm) {
            font-size: 20px;
        }
    }

    h4 {
        font-size: 20px;
        color: $blue-color;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
        @include media-query($on-palm) {
            font-size: 16px;
        }
    }
}



/**
 *
 * Styling
 *
 */

// Main body
body {
    font: $font-weight #{$font-size}/#{$line-height} $font-family;
    color: $text-color;
    background-color: darken($background-blue, 10%);
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}
.page-content {
	background-color: $background-color;
}
.wrapper-foot {
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing;
    padding-left: $spacing;
    display: block;
    text-align: center;
    @extend %clearfix;

    @include media-query($on-laptop) {
        padding-right: $spacing / 2;
        padding-left: $spacing / 2;
    }
    @include media-query($on-palm) {
        padding-right: $spacing-med / 2;
        padding-left: $spacing-med / 2;
    }
}
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing;
    padding-left: $spacing;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing}));
        max-width:         calc(#{$content-width} - (#{$spacing}));
        padding-right: $spacing / 2;
        padding-left: $spacing / 2;
        vertical-align: middle;
    }
    @include media-query($on-palm) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-med}));
        max-width:         calc(#{$content-width} - (#{$spacing-med}));
        padding-right: $spacing-med / 2;
        padding-left: $spacing-med / 2;
        vertical-align: middle;
    }
}

// Headings
h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight;
    color: $blue-color;
}

// Links
a {
    color: $blue-color;
    text-decoration: none;

    // &:visited {
    //     color: darken($blue-color, 15%);
    // }

    &:hover {
        color: $text-color;
        text-decoration: none;
        font-weight: bold;
    }
}

// Clearfix
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Icons
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $blue-color;
        }
    }
}
// My Logo Icon
.myLogo {

    margin: 0 auto;
    display: inline-block;

    > svg {
        width: 192px;
        height: 192px;

        @include media-query($on-laptop) {
            width: 144px;
            height: 144px;
        }
        @include media-query($on-palm) {
            width: 120px;
            height: 120px;
        }
    }
}

/*
 * Resume/CV CSS
 */
.res-content {
	margin-left: $margin * 2;
    margin-right: $margin * 2;
    margin-bottom: $margin;
    padding: $margin;
    border: 2px $blue-color-dark solid;
    background-color: $background-color;

    @include media-query($on-laptop) {
        margin-left: 0;
        margin-right: 0;
        padding: $spacing * 2;
    }
    @include media-query($on-palm) {
        margin-left: 0;
        margin-right: 0;
        padding: $spacing-med;
    }
}

// Sections
.res-section {
	padding: 0 ($spacing-small * 3) ($spacing-small * 3) ($spacing-small * 3);
	border-bottom: 1px solid $blue-color-dark;
	min-height: 120px;
    > p {
        font-family: "Lucida Fax", Georgia, serif;
    }

    > ul {
        font-family: "Lucida Fax", Georgia, serif;
        list-style: none;
    }

    > li {
        list-style-position: inside;
    }
}
.info {
    text-align: center;
}
.contacts {
    margin-bottom: $spacing-small * 3;
}
.res-section-title {
    @include media-query($on-laptop) {
        font-size: 32px;
    }
}
.res-section-post-links {
    font-size: 11px;
    text-transform: uppercase;
}
