---
---

@charset "utf-8";


body {
  background-color:  #0d2852;/*#ccd3de;*/
}

div {
  border-radius: 5px;
}

#header {
  z-index: 1;
  position: fixed;
  width: 98%;
  margin-top: -22px;
  height: 120px;
  background-color: #668284;
  margin-bottom: 10px;
}

img {
  float: left;
  margin-left: 5px;
  height: 96px;
  width: 96px;
  border-radius: 50%;
  border: 2px solid black;
}

#name {
  float:left;
  margin-left: 10px;
  padding-top: 5px;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #ffffff;
}

#email{
  float:right;
  margin-right: 5px;
  padding-top: 5px;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #ffffff;
}

h4 {
  margin-left: 5px;
  margin-bottom: 15px;
  font-family: Verdana, sans-serif;
}

.right p {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -10px;
  font-family: Garamond, serif;
  color: #000000;
}

li {
  list-style-type: square;
}

a:hover {
  font-weight: bold;
  text-decoration: none;
}

.left {
  position: relative;
  float: left;
  margin-top: 105px;
  width: 12%;
  min-width: 86px;
  height: 550px;
  background-color: #88ee88;
  margin-bottom: 8px;
}

/* Mobile layout */
@media only screen and (max-width: 720px){
  .left {
    display: none;
  }

}

.progParent {
  /*display: inline-block;*/
  height: 100%;
  width: 100%;
  padding: 5%;
}

.prog {
  margin-left: 2%;
  margin-bottom: 5%;
  display: inline-block;
  height: 15%;
  width: 75%;
  border-radius: 100%;
  border: 6px solid black;
  text-align: center;
  padding-top: 20%;
}

#java {
  background-color: #cf3300;
}
#python {
  background-color: #008000;
}
#js {
  background-color: #ffaf00;
}
#sql {
  background-color: #006fb1;
}

.right {
  position: relative;
  float: right;
  margin-top: 105px;
  width: 86%;
  height: 550px;
  overflow: auto;
  background-color: #B9D7D9;
  margin-bottom: 8px;
}

#footer {
  position: relative;
  height: 80px;
  background-color: #668284;
  clear: both;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

#footer p {
  position: relative;
  padding-top: 15px;
}
