---
layout: default
---

<!-- <p>{{ site.description | default: site.github.project_tagline }}</p> -->

<section>
    <h2><strong><span class="section-title">Game Trailer:</span></strong></h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/l6JzL8zWWC4" frameborder="0" allowfullscreen></iframe>

</section>
<hr />
<section>
    <h2><strong><span class="section-title">About WaveDash:</span></strong></h2>

    <p>
        Update This
    </p>
    <p>
        Designed at Georgia State University's Global Game Jam 2017. This game
        was designed on the Unity platform.
    </p>
    <ul><em>
        <li>- Change (Some screenshots maybe)</li>
        <li>- Change</li>
        <li>- Change</li>
        <li>- Change</li>
    </em></ul>

</section>
