---
layout: default
---

<!-- <p>{{ site.description | default: site.github.project_tagline }}</p> -->

<section>
    <h2><strong><span>Game Trailer:</span></strong></h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/l6JzL8zWWC4" frameborder="0" allowfullscreen></iframe>

</section>
<hr />
<section>
    <h2><strong><span>About WaveDash:</span></strong></h2>

    <p>
        Update This
    </p>
    <p>
        Designed at the Georgia State University site for Global Game Jam 2017. This game
        was designed on the Unity platform. <strong><em>WaveDash</em></strong> is an interactive game that keeps you engaged.
    </p>
    <ul><em>
        <li>- Available on the Windows platform</li>
        <li>- Functions with a controller</li>
    </em></ul>

</section>
