---
layout: default
---
<div class="about-img">

    <figure>
        <img src="/assets/img/team.jpg" alt="Picture of the team">
        <figcaption><h5>Team: Chris (left), Zane (right), Nathaniel (Top)</h5></figcaption>
    </figure>

</div>
<hr />
<div class="section">
    <h2><strong><span class="section-title">About Us:</span></strong></h2>

    <p>
        Update This
    </p>
    <ul><em>
        <li>- Change</li>
        <li>- Change</li>
        <li>- Change</li>
        <li>- Change</li>
    </em></ul>

</div>
<hr />
<div class="section">
    <h2><strong><span class="section-title">Contact Us:</span></strong></h2>

    <p>
        Typeform?
    </p>

</div>
