---
layout: default
---

<div>
    <h2><strong><span>About Us:</span></strong></h2>

    <dl>
    <dt>Name:</dt>
    <dd>Chris Antepenko</dd>
    <dd>Zane Smith</dd>
    <dd>Nathaniel Brown</dd>
    <dt>Credits:</dt>
    <dd>Cameron Martin (music)</dd>
    </dl>

    <div class="about-img">

        <figure>
            <img src="/assets/img/team.jpg" alt="Picture of the team">
            <figcaption><h5>Team: Chris (left), Zane (right), Nathaniel (top)</h5></figcaption>
        </figure>

    </div>

    <ul><em>
        <li>- <a href="mailto:wavedash2017@gmail.com">wavedash2017@gmail.com</a></li>
    </em></ul>

</div>
<hr />
<div>
    <h2><strong><span>Contact Us:</span></strong></h2>

    <!-- Change the width and height values to suit you best -->
    <div class="typeform-widget"
        data-url="https://ngbrown11.typeform.com/to/z5ODWF"
        data-text="Contact WaveDash Team"
        style="width:100%;height:400px;">
    </div>
    <script>(function(){
        var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';
        if(!gi.call(d,id)){
            js=ce.call(d,'script');
            js.id=id;
            js.src=b+'widget.js';
            q=gt.call(d,'script')[0];
            q.parentNode.insertBefore(js,q)
        }
    })()</script>
    <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">
        <a href="https://www.typeform.com/examples/forms/contact-form-template/?utm_campaign=z5ODWF&amp;utm_source=typeform.com-6425960-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-contactform&amp;utm_term=EN"
        style="color: #999"
        target="_blank">
            Contact form
        </a>
    </div>

</div>
