---
layout: default
---

<div class="section">
    <h2><strong><span class="section-title">About Us:</span></strong></h2>

    <div class="about-img">

        <figure>
            <img src="/assets/img/team.jpg" alt="Picture of the team">
            <figcaption><h5>Team: Chris (left), Zane (right), Nathaniel (top)</h5></figcaption>
        </figure>

    </div>

    <p>
        Update This
    </p>
    <p>
        (Names)
        (Credits) 
        (etc.)
    </p>
    <ul><em>
        <li>- <a href="mailto:wavedash2017@gmail.com">wavedash2017@gmail.com</a></li>
        <li>- Change</li>
        <li>- Change</li>
        <li>- Change</li>
    </em></ul>

</div>
<hr />
<div class="section">
    <h2><strong><span class="section-title">Contact Us:</span></strong></h2>

    <p>
        Typeform?
    </p>

</div>
