<!DOCTYPE html>
<html>

	{% include head.html %}
	{% seo %}

	<body>

		{% include header.html %}

		<div class="res-content">

            <div class="res-section info">
            	<h1><strong><span class="res-section-title">Nathaniel Brown</span></strong></h1>
                <h2><strong><em><span>Software Developer</span></em></strong></h2>
                <h2><strong><span><a href="tel:+1-914-310-0020">914-310-0020</a></span></strong></h2>
                <h2><strong><span><a href="mailto:ngbrown11@gmail.com">ngbrown11@gmail.com</a></span></strong></h2>
            </div>
            <div class="res-section">
            	<h2><strong><span class="res-section-title">Education:</span></strong></h2>
                <ul>
                    <li>
                        <p><b>Georgia State University,</b> Atlanta, GA</p>
                        <p><b>J. Mack Robinson College of Business</b></p>
                        <p>Bachelor of Business Administration, Computer Information Systems</p>
                        <p>August 2017</p>
                    </li>
                    <li>
                        <p><b>Relevant Courses: </b>Application Programming (Java), Database Management Systems, Systems Analysis</p>
                    </li>
                    <li>
                        <p><b>Certifications:</b></p>
                        <p>Oracle Certified Associate Java Programmer 8, LIC# 249587343OCAJSE8</p>
                    </li>
                </ul>
            </div>
            <div class="res-section">
            	<h2><strong><span class="res-section-title">Programming Projects:</span></strong></h2>
                <ul>
                    <li>
                        <b>Mobile Application, <i>Guess the Number</i></b>
                        <ul>
                            <li>Designed a mobile application that randomly picks a number between 0-100, and allows the user the guess a number until they are correct.</li>
                            <li>Implemented with the Android language</li>
                        </ul>
                    </li>
                    <li>
                        <b>Application Programming Interface, <i>SaasNoHarass</i></b>
                        <ul>
                            <li>Worked with a team to design an api for filtering text</li>
                            <li>Uses an algorithm to filter through text input and returns a percentage for the likelihood the text can be viewed as possibly harassing to another.</li>
                            <li>Implemented with JavaScript and PHP</li>
                        </ul>
                    </li>
                    <li>
                        <b>Mobile Application, <i>Money Counter</i></b>
                        <ul>
                            <li>Designed a financial mobile application for counting money</li>
                            <li>Counts different denominations of US dollars and coins to calculate the total</li>
                            <li>Implemented with the Android language</li>
                        </ul>
                    </li>
                    <li>
                        <b>Mobile Application, <i>Project PULP</i></b>
                        <ul>
                            <li>Worked with a team to design a mobile application for connecting a user to their health provider</li>
                            <li>Enables a user to communicate with their health practitioner. Allows the practioner to respond</li>
                            <li>Implemented with the Android language</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="res-section">
            	<h2><strong><span class="res-section-title">Programming Languages:</span></strong></h2>
                <ul>
                    <li>Java</li>
                    <li>Android</li>
                    <li>HTML/CSS/JavaScript</li>
                    <li>Python</li>
                    <li>SQL</li>
                </ul>
            </div>
		</div>

		{% include footer.html %}

	</body>

</html>
