---
layout: default
---

<div class="container">

  <!--
  Permalinks for other pages
 -->
  <!-- <div class="nav left">
      <span>
        <a href="/">home</a>
        <a href="/download">download</a>
      </span>
  </div>
  <div class="nav right">
      <span>
        <a href="/projects">about</a>
        <a href="/posts">contact</a>
      </span>
  </div> -->
  <!--
  Permalinks for other pages ^^^^^
 -->

  <h1>{{ site.title | default: site.github.repository_name }}</h1>
  <p>You can donwload WaveDash below.</p>

  <hr />

  <p>[Update] Compatiblie on the Windows platform</p>

  <section id="downloads">
    {% if site.show_downloads %}
      <a href="https://github.com/wavedash-game/wavedash/blob/master/executable.zip" onclick="instruct" class="btn">Download as .zip</a>
      <!-- <a href="https://github.com/wavedash-game/wavedash/tarball/master" onclick="instruct" class="btn">Download as .tar.gz</a> -->
    {% endif %}
    <!-- Was originally below {{ site.github.repository_url }} -->
    <a href="https://github.com/wavedash-game/wavedash" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
    <p>Installation Instructions:</p>
    <h4>[Update] Extract the executable from the zip file. Run the executable and play in a 16:9 or 16:10 aspect ratio. Play with an xBox controller.</h4>

  </section>

</div>
